* {
  box-sizing: border-box;
  outline: none;
  
}

h1 {
  text-align: center;
  font-size: 3.5em;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}



img {

  height: 200px;
}

#newBook {
  text-transform: uppercase;
  border: 2px solid #C7493A;
  border-radius: 50%;
  font-size: 45px;
  width: 60px;
  height:60px;
  color: #161616;
  background-color: #d63434;
  transition: 0.4s ease-in-out;
  
}

input[type=button] {
  cursor: pointer;
  margin: 5px;
  transition: 0.5s;
}
input[type=button]:hover {
  background-color: #d63434;
}

#newBook:hover {
  color: #d63434;
  background-color: #161616;
  cursor: pointer; 
  box-shadow: 0px 0px 16px 6px #d63434;
}



body {
  background-color: #161616;
  color: #C7493A;
  font-family: 'Caros',sans-serif;

}

form input {
  display:block;
  padding: 10px;
  margin: 10px auto;
}

#form {
  text-align: center;
  margin: auto;
  color:#C7493A;
  border: 1px solid #C7493A;
  background-color: #242323;
  box-shadow: 1px 11px 14px 0px rgba(225,157,157,0.75);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 320px;
  height:auto;
  display: block;
}

#form.closed {
  opacity: 0;
  z-index: -1;
  position: absolute;  
}

#form.active {
  z-index: 2;
  animation: popup 0.3s ease-in-out;
  backface-visibility: hidden;
}




@keyframes popup {
  0% {
    opacity: 0;

  }

  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}


.red-check {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  transition: 0.3s;
}

input {
  background-color: #646262;
  color: white;
  font-family: inherit;
  font-size: 18px;
}

input::placeholder {
  color: rgb(153, 147, 140);
}

input[type=checkbox] {
  display: inline;
}

input[type=button] {
  display: inline-block;
  border-style: none;
}

.library {
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;
}



.library article {
  border: 1px solid #C7493A;  
  border-radius: 6px;
  padding: 10px;
  margin: 10px;
  height: 300px;
  width: 300px;
  font-size: 25px;
  animation: popup 0.3s ease-in-out;
  overflow:hidden;
  position: relative;
}

.library h2 {
  text-align: center;
}

@font-face {
  font-family: 'Caros';
  src: url(../fonts/cretype\ \ Caros\ Bold.otf);
  font-style: normal;
  font-weight:400;
}


#warning {
  color: #C7493A;
}


#warning li {
  list-style-image: url("./icons/warning-sign.png");
}


.remove {
  background-color: black;
  border-radius: 50%;
  border: 1px solid #C7493A;
  color: #646262;
  top: 10px;
  right: 15px;
  position: absolute;
  font-size:20px;
  transition: 0.2s;
  cursor: pointer;
}

.remove:hover {
  color: black;
  background-color: #646262;
}

@media (max-width:768px) {
  header {
    width:80%;
  }

  .library article {
    width: 190px;
    height: 190px;
    font-size: 19px;
    padding: 3px;
    margin: 5px;
  }

  .remove {
    font-size: 13px;
    top: 5px;
    right: 8px;
  }
}

@media (max-width:480px) {
  header {
    width: 100%;
  }
}